
.carousel-img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}


em {
    color: ;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}