{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Livre d'or</title>

  <!-- <script src="https://unpkg.com/scrollreveal"></script> -->

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

 

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
  <link href="{% static 'css/palette.css' %}" rel="stylesheet">

</head>


<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Chez DUDU</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#resa">Réservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Livre d'or</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
  	<div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase" id="title_big" style="padding-top: 30%;">Livre d'or</h1>
        <h3 class="mx-auto my-0 text-uppercase" style="color: white; padding-top: 2%;">Laissez nous votre message <i class="far fa-smile-beam"></i></h3>
        
		<form id="golden_form" method="post" style="padding-top: 5%;">
			{% csrf_token %}
			<input required type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="name" name="name" placeholder="Votre nom">
			<input required type="text" style="margin-top: 3%;" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="title" name="title" placeholder="Titre">
			<label style="margin-top: 3%;" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" for="inlineFormCustomSelectPref"><b>Note sur 5</b></label>
			<select name="rate" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			<option selected>Choix</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			</select>
			<textarea style="margin-top: 3%;" name="message" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" cols="30" rows="5" placeholder="Message" required id="id_message"></textarea>
			<button style="margin-top: 3%;" type="submit" class="btn btn-primary mx-auto">Envoyer</button>
		</form>
        <h3 class="mx-auto my-0 text-uppercase" style="color: white; padding-top: 20%;"><a style="color: white;" href="#golden_message"><i class="fas fa-arrow-circle-down fa-2x"></i></a></h3>
      </div>
    </div>
  </header>

   <section id="golden_message" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2 class="mb-4" style="color: #2B2E2B;">Vos messages :</h2>
          {% for m in goldenmessages %}
			<div class="golden_message">
				<div class="golden_message_title">
					{{ m.title }}
				</div>
				<div class="golden_message_rate">
					{% if m.rate == 0 %}
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					{% endif %}
					{% if m.rate == 1 %}
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					{% endif %}
					{% if m.rate == 2 %}
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					{% endif %}
					{% if m.rate == 3 %}
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					{% endif %}
					{% if m.rate == 4 %}
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star"></span>
					{% endif %}
					{% if m.rate == 5 %}
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
						<span class="fa fa-star checked_stars"></span>
					{% endif %}
				</div>
				<div class="golden_message_message">
					"{{ m.message }}"
				</div>
				<div class="golden_message_author">
					<b>{{ m.name }}</b>
				</div>
			</div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="small text-center text-white-50">
    <div class="container">
      <p>Copyright &copy; SalleChezDudu.com</p>
      <p style="margin-top: -1.5%;">Made with <i class="fas fa-heart" style="color: red;"></i> by <a href="https://martinbaty.com" target="_blank">Martin Baty</a> </p>
    </div>
  </footer>


  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=" crossorigin="anonymous"></script>


  <script src="{% static 'js/grayscale.js' %}"></script>


</body>
</html>