{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Salle Chez Dudu</title>

  <script src="https://unpkg.com/scrollreveal"></script>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">


  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
  <link href="{% static 'css/palette_minified.css' %}" rel="stylesheet">
  <link href="{% static 'css/gallery.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/quotes_carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/jsCalendar_minified.css' %}">


  <!-- <script
    src="https://www.paypal.com/sdk/js?client-id=ARz78qFiDZC-3I8PyvOOr_8xIykeHWCsw5Rabocf5b26pVuobN9-qDe5bDKUfQDwdQCaB7Mr-VWrhB_E&currency=EUR">
  </script> -->



</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" style="font-size: 225%;" href="#page-top">Chez DUDU</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="font-size: 130%;">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#resa">Réservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'goldenbook' %}">Livre d'or</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-75 align-items-center">
      <div class="mx-auto" style="min-width: 70%; height: 30%; background-color: #070E08;">
        <!-- <div class="mx-auto my-0 text-uppercase" style="background-color: red; min-width: 200px; min-height: 100px;"></div> -->
          <h1 class="mx-auto my-0 text-uppercase" style="text-align: center; color: #EE2325;" id="title_big">Chez Dudu</h1>
        <h2 class="text-white mx-auto mt-2 mb-5" id="text-typed"></h2>
      </div>
    </div>
    <div class="mx-auto container d-flex align-items-center">
      <a href="#resa" class="mx-auto btn btn-primary js-scroll-trigger">Réserver maintenant !</a>
    </div>
  </header>

  <!-- About Section -->
  <section id="photos" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="mb-4" style="color: #2B2E2B;">Tout types d'évènements</h2>
          <p style="color: #2B2E2B; text-align: justify;">La famille BATY, est heureuse de de vous proposer cette salle de 100m2 entièrement rénovée. Un espace convivial, chaleureux où vous pourrez organiser vos fêtes de familles, anniversaires, communion, baptême, vin d'honneur et aussi réunions professionnelles.
Un coin cuisine avec 2 fours, lave vaisselle, réfrigérateurs, congélateurs, cafetière, micro-ondes, bouilloire le tout ouvert sur une salle avec  parquet. Des tables et chaises ainsi que la  vaisselle sont fournis. Le lieu est accessible aux personnes à mobilité réduite et dispose de son propre parking.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="projects-section">
    <div class="container-fluid">
      <div class="gallery">
        <figure>
          <img id="image_1" src="{% static 'img/salle1.jpg' %}" alt="" />
          <figcaption>Buffet mural</figcaption>
        </figure>
        <figure>
          <img id="image_2" src="{% static 'img/salle2.jpg' %}" alt="" />
          <figcaption>Toilettes</figcaption>
        </figure>
        <figure>
          <img id="image_3" src="{% static 'img/salle3.jpg' %}" alt="" />
          <figcaption>
            Grande tablée
          </figcaption>
        </figure>
        <figure>
          <img id="image_4" src="{% static 'img/salle4.jpg' %}" alt="" />
          <figcaption>Fenêtres avec rideaux</figcaption>
        </figure>
        <figure>
          <img id="image_5" src="{% static 'img/salle5.jpg' %}" alt="" />
          <figcaption>Bar</figcaption>
        </figure>
        <figure>
          <img id="image_10" src="{% static 'img/salle1.jpg' %}" alt="" />
          <figcaption>Buffet mural</figcaption>
        </figure>
        <figure>
          <img id="image_9" src="{% static 'img/salle2.jpg' %}" alt="" />
          <figcaption>Toilettes</figcaption>
        </figure>
        <figure>
          <img id="image_8" src="{% static 'img/salle3.jpg' %}" alt="" />
          <figcaption>Grande tablée</figcaption>
        </figure>
        <figure>
          <img id="image_7" src="{% static 'img/salle4.jpg' %}" alt="" />
          <figcaption>
            Fenêtres avec rideaux
          </figcaption>
        </figure>
        <figure>
          <img id="image_6" src="{% static 'img/salle5.jpg' %}" alt="" />
          <figcaption>Bar</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid" style="width: 100%; padding-top: 2%;">
        <h3 class="primary-text-color" style="text-align: center;">Ils ont adoré ! <i class="far fa-smile-beam"></i></h3>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <img class="carousel-img-box" src="{% static 'img/dp_1.jpg' %}">
                     <p class="primary-text-color"><i class="fas fa-quote-left"></i> On a pu organiser une sacré soirée dans cette majestueuse salle des fêtes ! Merci à tous ceux qui ont rendu ça possible et surtout merci DUDU ! <i class="fas fa-heart" style="color: red;"></i> <i class="fas fa-quote-right"></i></p>
                     <p class="secondary-text-color"><font style="font-size:14px; text-transform: uppercase; font-weight: bold; font-style:italic">Robots Musiciens</font></p>
                </div>
                <div class="carousel-item text-center p-4">
                     <img class="carousel-img-box" src="{% static 'img/dp_2.png' %}">
                     <p class="primary-text-color"><i class="fas fa-quote-left"></i> Cette salle a été parfaite pour organiser la réception de nos rêves. La sonorisation est au top et on a pu envoyer un concert dont tout le monde se souviendra ! <i class="fas fa-quote-right"></i></p>
                     <p class="secondary-text-color"><font style="font-size:14px; text-transform: uppercase; font-weight: bold; font-style:italic">Robots Musiciens</font></p>
                </div>
                <div class="carousel-item text-center p-4">
                     <img class="carousel-img-box" src="{% static 'img/dp_3.png' %}">
                     <p class="primary-text-color"><i class="fas fa-quote-left"></i> Cette salle a été parfaite pour organiser la réception de nos rêves. La sonorisation est au top et on a pu envoyer un concert dont tout le monde se souviendra ! <i class="fas fa-quote-right"></i></p>
                     <p class="secondary-text-color"><font style="font-size:14px; text-transform: uppercase; font-weight: bold; font-style:italic">Robots Musiciens</font></p>
                </div>
            </div>
            <a class="carousel-control-prev" style="width: 5%;" href="#carouselContent" role="button" data-slide="prev">
                <i class="fas fa-chevron-left fa-2x accent-color"></i>
            </a>
            <a class="carousel-control-next" style="width: 5%;" href="#carouselContent" role="button" data-slide="next">
                <i class="fas fa-chevron-right fa-2x accent-color"></i>
            </a>
        </div>
    </div>
  </section>

  <section class="projects-section" id="about">
    <div class="container">
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/party.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="light-primary-color text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="accent-color" id="title1">Salle des fêtes</h4>
                <p class="mb-0 primary-text-color" id="text-about1">Venez célébrer des mariages ou anniversaire. blablabla blablabla blablabla blablabla blablabla blablabla blablabla </p>
                </br>
                <p class="mb-0 primary-text-color" id="text-about1-2">blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablab</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/meeting.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="light-primary-color text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="accent-color" id="title2">Meetings professionnels</h4>
                <p class="mb-0 primary-text-color" id="text-about2">La salle se transforme en salle de réunion et/ou de meeting. Nous mettons à votre disposition une sono avec un micro ainsi qu'un vidéo-projecteur.</p>
                </br>
                <p class="mb-0 primary-text-color" id="text-about2-2">La salle se transforme en salle de réunion et/ou de meeting. Nous mettons à votre disposition une sono avec un micro ainsi qu'un vidéo-projecteur.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="resa" style="padding: 2em 0 2em 0;">
    <h2 class="text-black mb-5" style="text-align: center;"><i class="far fa-calendar-alt" style="margin-right: 1%;"></i>Réservation</h2>

    <h5 class="text-black mb-5" style="text-align: center;">Les dates marquées en rouges ci-dessous sont déjà réservées. Merci de <b>sélectionner la ou les date(s)</b> de votre choix.</h5>

    <div class="container">
      <form id="form_resa" method="post">
        {% csrf_token %}
        <div class="row" >
          <div class="col-lg-6">
            <div id="my-calendar" style="margin: 12% auto;">
            </div>
            <h5 id="prix_resa" style="margin: 0% auto; padding: 2%; text-align: center; width: 30%; height: 10%; background-color: #f6ece9;">Prix HT : <span id='price_to_change'></span>€</h5>
          </div>
          <div class="col-lg-6" style="margin: 0 auto;">
            <div class="row">
              <div class="col-lg-6">
                <h6><b>Type de prestation :</b></h6>
              </div>
              <div class="col-lg-6">
                <div class="radio">
                  <label><input type="radio" name="optradio1" id="radio_fete" value="radio_fete" checked>Fête / Réception</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio2" id="radio_pro" value="radio_pro">Professionel</label>
                </div>
              </div>

              <div class="col-lg-6">
                <h6><b>Vos besoins :</b></h6>
              </div>
              <div class="col-lg-6">
                <div class='checkbox'>
                  <label><input name='chkbox_video' id='chkbox_video' type='checkbox' value=''>Vidéo-projecteur</label>
                </div>
                <div class='checkbox'>
                  <label><input name='chkbox_sono' id='chkbox_sono' type='checkbox' value=''>Sonorisation + Micro</label>
                </div>
                <div class='checkbox'>
                  <label id='label_chkbox_dj'><input name='chkbox_dj' id='chkbox_dj' type='checkbox' value=''>DJ</label>
                </div>
              </div>
            
              <div class="col-lg-10">
                <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email_resa" name="email_resa" placeholder="Votre e-mail" required>
              </div>
              <div style="margin-top: 1%;" class="col-lg-2">
                 <span id="verif_email_resa"></span>
              </div>
              <div class="col-lg-10">
                <input style="margin-top: 3%;" type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="name_resa" name="name_resa" placeholder="Votre nom" required>
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_name_resa"></span>
              </div>
              <div class="col-lg-10">
                <input style="margin-top: 3%;" type="tel" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="phone_number_resa" name="phone_number_resa" placeholder="Votre numéro de téléphone" required>
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_phone_resa"></span>
              </div>
              <div class="col-lg-10">
                <textarea style="margin-top: 3%;" name="message_resa" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" cols="30" rows="5" placeholder="Description brève de l'évènement (50 caractères min)" required id="message_resa"></textarea>
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_message_resa"></span>
              </div>
              <input type="hidden" name="dates_resa" id="dates_resa">
            </div>
          </div>
          <p id="error_resa" style="color: #EE2324; margin: 0 auto;"></p>
          <div class="col-lg-12" style="text-align: center;">
            <h6><b>Souhaitez-vous régler en ligne ?</b></h6>
            <div class="radio">
              <label><input type="radio" name="online_payment_yes" id="online_payment_yes" value="online_payment_yes" checked>Oui</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="online_payment_no" id="online_payment_no" value="online_payment_no">Non</label>
            </div>
          </div>
          <div class="col-lg-12" style="text-align: center;">
            <button id="button_resa" style="margin-top: 3%;" type="submit" class="btn btn-primary mx-auto">Réserver</button>
          </div>
        </div>
      </form>
    </div>

    <div id="modal_resa" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center;">      
            <h4 class="modal-title" style="margin: 0 auto;">Réservation en attente <i class="far fa-smile-beam"></i></h4>  
          </div>
          <div class="modal-body">
            <p class="text-center">Votre réservation est bien prise en compte mais est pour l'instant en attente. Nous venons de vous envoyer un e-mail vous expliquant les modalités.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_payment_success" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center;">      
            <h4 class="modal-title" style="margin: 0 auto;">Réservation acceptée <i class="far fa-smile-beam"></i></h4>  
          </div>
          <div class="modal-body">
            <p class="text-center">Votre réservation est bien prise en compte. Nous venons de vous envoyer un mail de confirmation. Veuillez </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" style="padding-top: 10%;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="far fa-paper-plane fa-2x mb-2" style="color: #2B2E2B;"></i>
          <h2 class="mb-5" style="font-size: 250%; color: #2B2E2B;">Pour toutes demandes d'informations, contactez nous !</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container" style="padding-top: 4%; padding-bottom: 6%;">
      <div class="row">
        <div class="col-md-12 col-lg-12 mx-auto">
          <form id="form_contact" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <input required type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="name_contact" name="name_contact" placeholder="Votre nom">
              </div>
              <div style="margin-top: 1%;" class="col-lg-2">
                <span id="verif_name_contact"></span>
              </div>
            </div>
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <input required type="email" style="margin-top: 3%;" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email_contact" name="email_contact" placeholder="Votre E-Mail">
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_email_contact"></span>
              </div>
            </div>
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <input required style="margin-top: 3%;" type="tel" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="phone_number_contact" name="phone_number_contact" placeholder="Votre numéro de téléphone">
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_phone_contact"></span>
              </div>
            </div>
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <textarea style="margin-top: 3%;" name="message_contact" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" cols="30" rows="10" placeholder="Message" required id="message_contact"></textarea>
              </div>
              <div style="margin-top: 3%;" class="col-lg-2">
                <span id="verif_message_contact"></span>
              </div>
            </div>
            <div class="row">
              <div class="offset-lg-3 col-lg-6 offset-lg-3 text-center">
                <button style="margin-top: 3%;" type="submit" class="btn btn-primary mx-auto">Envoyer</button>
                <p id="error_contact" style="color: #EE2324; margin: 0 auto;"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="modal_contact" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center;">      
            <h4 class="modal-title" style="margin: 0 auto;">Message envoyé <i class="far fa-smile-beam"></i></h4>  
          </div>
          <div class="modal-body">
            <p class="text-center">Merci pour votre message. Nous y répondrons dans les plus brefs délais.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section" style="background-color: #2B2E2B;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0" id="card1">
          <a href="https://www.google.fr/maps/place/27+Rue+nationale,+85110+Saint-Vincent-Sterlanges/@46.740556,-1.0881391,17z/data=!3m1!4b1!4m5!3m4!1s0x48068f2af46dec7d:0xc683741317d7027!8m2!3d46.740556!4d-1.0859504" target="_blank">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt accent-color mb-2"></i>
                <h4 class="text-uppercase m-0 primary-text-color">Addresse</h4>
                <hr class="my-4">
                <div class="small primary-text-color">27 rue National, 85110 Saint-Vincent Sterlanges
                </div>
                <button class="btn btn-secondary">Ouvrir sur Google Maps</button>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-md-4 mb-3 mb-md-0" id="card2">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope accent-color mb-2"></i>
              <h4 class="text-uppercase m-0 primary-text-color">Email</h4>
              <hr class="my-4">
              <div class="small primary-text-color">
                <a href="mailto:sallesaintvincent@gmail.com">sallechezdudu@free.fr</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0" id="card3">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt accent-color mb-2"></i>
              <h4 class="text-uppercase m-0 primary-text-color">Téléphone</h4>
              <hr class="my-4 accent-color accent-color-background">
              <div class="small primary-text-color">06.81.72.37.31</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="small text-center text-white-50">
    <div class="container">
      <p>Copyright &copy; SalleChezDudu.com</p>
      <p style="margin-top: -1.5%;">Made with <i class="fas fa-heart" style="color: red;"></i> by <a href="https://martinbaty.com" target="_blank">Martin Baty</a> </p>
    </div>
  </footer>





  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>


  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.js' %}"></script>
  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>



  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale_minified.js' %}"></script>
  <script src="{% static 'js/jsCalendar_minified.js' %}"></script>
  <script src="{% static 'js/text-typed.js' %}"></script>
  <script src="{% static 'js/scrollReveal.js' %}"></script>
  <script src="{% static 'js/general.js' %}"></script>

  <script type="text/javascript">
    {% if messages %}
      {% for message in messages %}
        console.log("{{ message }}")
          $(document).ready(function(){
              if ("{{ message }}" === "successful_contact") {
                $('#modal_contact').modal('show');
              }
              if ("{{ message }}" === "successful_booking") {
                $('#modal_resa').modal('show');
              }
              if ("{{ message }}" === "successful_payment") {
                console.log("COUCOU PAIMENT OK")
                $('#modal_payment_success').modal('show');
              }
          });
        {% endfor %}
    {% endif %}
  </script>

  <script type="text/javascript">
    {% for date in events_dates %}
      myCalendar.select("{{ date }}")
    {% endfor %}
  </script>
 
</body>
</html>